.booking-form {
    text-align: center;
    padding: 200px;
    background-image: url("C:\Users\sahan\Downloads\hotel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  
  .booking-form form {
    display: inline-block;
    text-align: left;
    /* background-image: url("C:\Users\sahan\Downloads\hotel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; */
  }
  
  .booking-form label {
    display: block;
    margin-bottom: 5px;
    font-size: large;
    font-weight: 700;
  
  }
  
  .booking-form input {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    /* text-align: center; */
  }